.git
.github
.agents
.opencode
.specs
.vercel
.vscode
.idea

.env
.env.*
!.env.example

.next
node_modules
coverage
playwright-report
test-results

__test__
bruno_collection
docs
scripts

*.pdf
*.log
npm-debug.log*
Dockerfile*
docker-compose*.yml
